<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>
    {{subject}}
  </title>
</head>
<body>
<body style="background-color: #121212">
  <div id="app" v-cloak>
    <v-app>
      {{>_header}}
      <v-main>
        {{content}}
        <vue-snotify></vue-snotify>
      </v-main>

      {{>_footer}}
    </v-app>
  </div>
</body>

{{>_headerjs}}

<script>
  const None = null;
  const False = false;
  const True = true;
    {{vue_use}}
  const app = new Vue({
    delimiters: ['[[', ']]'],
    el: '#app',
    vuetify: new Vuetify({
      theme: {
        dark: true,
      },
    }),
    data: {
      sidebar: null,
      templateData: {{&data}}
    },
  props: {{#if props}}{{props}}{{else}}{}{{/if}},
    methods: {
      {{methods}}
    },
  watch: {{#if watch}}{{watch}}{{else}}{}{{/if}},
  computed: {{#if computed}}{{computed}}{{else}}{}{{/if}},
    mounted() {
      {{mounted}}
    },
  created() {{#if created}}{{created}}{{else}}{
    }{{/if}},
  filters: {{#if filters}}{{filters}}{{else}}{}{{/if}}
  });
</script>
</body>
</html>